@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This site - a place, where you can fill out the friendship questionnaire.</p>
</div>
